# -*- mode: conf; -*-
[flake8]
exclude =
    venv
ignore =
    # continuation line under-indented for visual indent
    E128
    # missing whitespace around arithmetic operator
    E226
    # missing whitespace after ','
    E231
    # expected 2 blank lines
    E302 # between functions and classes
    E305 # after functions and classes
    # line too long
    E501
    # line break after binary operator
    W504
