# -*- mode: conf; -*-
[flake8]
exclude =
    venv
ignore =
    # continuation line under-indented for visual indent
    E128
    # missing whitespace around arithmetic operator
    E226
    # missing whitespace after ','
    E231
    # at least two spaces before inline comment
    E261
    # expected 2 blank lines
    E302 # between functions and classes
    E305 # after functions and classes
    # line too long
    E501
    # import * used; unable to detect undefined names
    F403
    # may be undefined, or defined from star imports
    F405
    # line break after binary operator
    W504
    # invalid escape sequence
    W605
