.wd-image-positions--depicted {
    /*
     * position this element absolutely within its containing block
     * (which has position: relative; within the tool, the .image element),
     * according to its left/top/width/height percentage values (configured in style="" attributes)
     */
    position: absolute;
    /*
     * make the full area visible – this is what this tool is used for, after all
     * (default outline color overridden per property below)
     */
    outline: solid white 2px;
    /*
     * if the text doesn’t fit, cut it off rather than enlarging the outline
     */
    overflow: hidden;
}

.wd-image-positions--depicted__P180 {
    /*
     * depicts (P180): gold
     */
    outline-color: gold;
}

.wd-image-positions--depicted:hover {
    /*
     * make the “active” area even more visible – many overlapping areas can be hard to distinguish
     * (note that outlines, unlike borders, never occupy space,
     * so changing the width will not reflow the link text)
     */
    outline-width: 5px;
}

.wd-image-positions--depicted a[href],
.wd-image-positions--depicted .wd-image-positions--snaktype-not-value {
    /*
     * make the text take up the full area of the depicted element
     */
    display: block;
    width: 100%;
    height: 100%;
    /*
     * center the text horizontally
     */
    text-align: center;
    /*
     * add white “text background” to improve readability against a potentially noisy background (the image)
     */
    text-shadow: 0px -1px white,
                 1px -1px white,
                 1px 0px white,
                 1px 1px white,
                 0px 1px white,
                 -1px 1px white,
                 -1px 0px white,
                 -1px -1px white;
}

.wd-image-positions--depicted a[href] {
    /*
     * make text itself black for maximum visibility against white background
     */
    color: black;
}

.wd-image-positions--depicted .wd-image-positions--snaktype-not-value {
    /*
     * show somevalue/novalue snaks similar to Wikibase
     */
    color: #54595d; /* Base20 */
    font-style: italic;
}
