.wd-image-positions--depicted {
    /*
     * position this element absolutely within its containing block
     * (which has position: relative; within the tool, the .image element),
     * according to its left/top/width/height percentage values (configured in style="" attributes)
     */
    position: absolute;
    /*
     * make the full area visible – this is what this tool is used for, after all
     */
    outline: solid gold 2px;
}

.wd-image-positions--depicted:hover {
    /*
     * make the “active” area even more visible – many overlapping areas can be hard to distinguish
     * (note that outlines, unlike borders, never occupy space,
     * so changing the width will not reflow the link text)
     */
    outline-width: 5px;
}

.wd-image-positions--depicted a[href] {
    /*
     * make the link take up the full area of the depicted element
     */
    display: block;
    width: 100%;
    height: 100%;
    /*
     * center the text horizontally
     */
    text-align: center;
    /*
     * make text black on white to improve readability against a potentially noisy background (the image)
     */
    color: black;
    text-shadow: 0px -1px white,
                 1px -1px white,
                 1px 0px white,
                 1px 1px white,
                 0px 1px white,
                 -1px 1px white,
                 -1px 0px white,
                 -1px -1px white;
}
