.wd-image-positions--image {
    /*
     * ensure that this element is the containing block of the inner .depicted elements,
     * so that their left/top/width/height percentage values apply to the size of this element
     */
    position: relative;
    /*
     * make this element only occupy the exact width and height of its descendants,
     * most likely the inner <img>, rather than occupying the full width of its container
     */
    display: inline-block;
}

.wd-image-positions--image .wd-image-positions--depicted {
    /* 
     * don’t show this element by default (unless the user hovers over the image, see below)
     */
    visibility: hidden;
}

.wd-image-positions--image:hover .wd-image-positions--depicted {
    /*
     * do show this element if the image is hovered
     */
    visibility: visible;
}

.wd-image-positions--image.wd-image-positions--active .wd-image-positions--depicted {
    /*
     * but not while the area for another depicted is being defined
     */
    visibility: hidden;
}

.wd-image-positions--image img {
    /*
     * ensure the image is not larger than its container (e. g. the surrounding Bootstrap container)
     */
    max-width: 100%;
    max-height: 100%;
}

.wd-image-positions--image.wd-image-positions--active ~ * .wd-image-positions--depicted-without-region button:not(.wd-image-positions--active) {
    /*
     * hide other buttons when defining a new depicted
     */
    display: none;
}
