{% from "image.html" import image %}
{% from "edit-info.html" import edit_info %}
{% extends "images.html" %}
{% block main %}
{% for item in items %}
<div class="wd-image-positions--entity" data-entity-id="{{ item.entity_id }}" data-entity-domain="www.wikidata.org">
  <h1>{{ item_link(item.entity_id, item.label) }}</h1>
  {{ image(item.image_title, item.image_attribution, item.image_url, item.image_width, item.image_height, item.depicteds) }}
</div>
{% endfor %}
{% for item in items_without_image %}
<p>Item {{ item }} has no image.</p>
{% endfor %}
{{ edit_info(user_logged_in()) }}
{% endblock main %}
