{% from "depicted.html" import depicted_div %}
{% macro image(image_title, image_attribution, image_url, depicteds, heading="h2") %}
{% set image_title_ = image_title.replace(' ', '_') %}
<{{ heading }}><a href="https://commons.wikimedia.org/wiki/File:{{ image_title_ }}">{{ image_title }}</a></{{ heading }}>
{% if image_attribution %}
<p class="lead">
  {{ image_attribution.attribution_html }}
</p>
{% endif %}
<div class="wd-image-positions--image">
  <img src="{{ image_url }}"
       srcset="https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=220 220w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=320 320w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=640 640w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=800 800w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1024 1024w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1280 1280w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1920 1920w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=2560 2560w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=2880 2880w">
  {% set depicteds_without_region = [] %}
  {% for depicted in depicteds %}
  {% if depicted.iiif_region %}
  {{ depicted_div(depicted) }}
  {% else %}
  {% do depicteds_without_region.append(depicted) %}
  {% endif %}
  {% endfor %}
</div>
{% if depicteds_without_region %}
<!-- the following HTML (modulo whitespace) is also synthesized by static/image.js, keep in sync -->
<div class="wd-image-positions--depicteds-without-region">
  Depicted, but with no region specified:
  <ul>
    {% for depicted in depicteds_without_region %}
    <li class="wd-image-positions--depicted-without-region" data-statement-id="{{ depicted.statement_id }}">{{ depicted | depicted_item_link }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro %}
