{% macro image(image_title, image_attribution, image_url, depicteds, heading="h2") %}
{% set image_title_ = image_title.replace(' ', '_') %}
<{{ heading }}><a href="https://commons.wikimedia.org/wiki/File:{{ image_title_ }}">{{ image_title }}</a></{{ heading }}>
{% if image_attribution %}
<p class="lead">
  {{ image_attribution.attribution_html }}
</p>
{% endif %}
<div class="wd-image-positions--image">
  <img src="{{ image_url }}"
       srcset="https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=320 320w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=640 640w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1024 1024w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1280 1280w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1920 1920w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=3840 3840w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=4096 4096w">
  {% set depicteds_without_region = [] %}
  {% for depicted in depicteds %}
  {% if depicted.iiif_region %}
  <div class="wd-image-positions--depicted" style="{{ depicted.iiif_region | iiif_region_to_style }}" data-statement-id="{{ depicted.statement_id }}">{{ item_link(depicted.item_id, depicted.label) }}</div>
  {% else %}
  {% do depicteds_without_region.append(depicted) %}
  {% endif %}
  {% endfor %}
</div>
{% if depicteds_without_region %}
<div>
  Depicted, but with no region specified:
  <ul>
    {% for depicted in depicteds_without_region %}
    <li class="wd-image-positions--depicted-without-region" data-statement-id="{{ depicted.statement_id }}">{{ item_link(depicted.item_id, depicted.label) }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endmacro %}
