{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='image.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='depicted.css') }}">
<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/cropperjs/1.5.6/cropper.min.css">
<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/cropperjs/1.5.6/cropper.min.js" defer></script>
{% if user_logged_in() %}
<script src="https://commons.wikimedia.org/w/load.php?lang=en&modules=startup&only=scripts&raw=1&skin=vector" defer></script>
{% endif %}
<script src="{{ url_for('static', filename='image.js') }}" defer></script>
{% endblock head %}
