{% extends "base.html" %}
{% block main_tag_attributes %}class="container mt-3"{% endblock main_tag_attributes %}
{% block main %}
<h1>Wikidata Image Positions</h1>
<p>
  This tool shows <a href="https://www.wikidata.org/wiki/Property:P2677">relative position within image</a> qualifiers
  of <a href="https://www.wikidata.org/wiki/Property:P180">depicts</a> statements
  on <a href="https://www.wikidata.org/">Wikidata</a> items
  as areas on the item’s <a href="https://www.wikidata.org/wiki/Property:P18">image</a>
  (or other property).
</p>
<h2>By item and property</h2>
<form method="post">
  <div class="form-group">
    <label for="item_id">Item ID</label>
    <input type="text" id="item_id" name="item_id" class="form-control" required placeholder="Q1231009" pattern="[QPL][1-9][0-9]*|L[1-9][0-9]*-[FS][1-9][0-9]*">
  </div>
  <div class="form-group">
    <label for="property_id">Property ID <small>(optional)</small></label>
    <input type="text" id="property_id" name="property_id" class="form-control" placeholder="P18" pattern="P[1-9][0-9]*">
  </div>
  <button type="submit" class="btn btn-primary">Load</button>
</form>
<h2>By IIIF region and property</h2>
<form method="post">
  <div class="form-group">
    <label for="iiif_region">IIIF region</label>
    <input type="text" id="iiif_region" name="iiif_region" class="form-control" required placeholder="pct:27.2,30,13.1,21.6" pattern="pct:((100|[1-9]?\d(\.\d+)?),){3}(100|[1-9]?\d(\.\d+)?)">
  </div>
  <div class="form-group">
    <label for="property_id">Property ID <small>(optional)</small></label>
    <input type="text" id="property_id" name="property_id" class="form-control" placeholder="P18" pattern="P[1-9][0-9]*">
  </div>
  <button type="submit" class="btn btn-primary">Load</button>
</form>
{% endblock %}
