{% from "image.html" import image %}
{% from "edit-info.html" import edit_info %}
{% extends "images.html" %}
{% block title %}{{ label.value }} – {{ super() }}{% endblock title %}
{% block main %}
<div class="wd-image-positions--entity" data-entity-id="{{ entity_id }}" data-entity-domain="www.wikidata.org">
  <h1>{{ item_link(entity_id, label) }}</h1>
  {{ image(image_title, image_attribution, image_url, image_width, image_height, depicteds) }}
</div>
{{ edit_info(user_logged_in()) }}
{% endblock main %}
