{% extends "base.html" %}
{% block title %}{{ message('error-title') | striptags }} – {{ super() }}{% endblock title %}
{% block main_tag_attributes %}class="container mt-3"{% endblock main_tag_attributes %}
{% block main %}
<div class="alert alert-danger">
  <h4 class="alert-heading">{{ message('wrong-data-value-type-heading') }}</h4>
  <p>{{ message('wrong-data-value-type-paragraph-1', expected_data_value_type=expected_data_value_type, actual_data_value_type=actual_data_value_type) }}</p>
  <p>{{ message('wrong-data-value-type-paragraph-2') }}</p>
</div>
{% endblock %}
